<h2><%= @task.title %></h2>
<p><%= @task.details %> </p>
<% if @task.completed %>
  <input type="checkbox" name="title" value="title" checked>
  <label for="title"> This task is completed.</label>
<% else %>
  <input type="checkbox" name="title" value="title">
  <label for="title"> This task is not completed yet.</label>
<% end %>
<%= link_to "Edit", edit_path(@task) %>
<%= link_to "Back to tasks", tasks_path %>
